Host lt-app1
    Hostname 167.99.2.38
    User deployer
Host lt-app2
    Hostname 142.93.61.28
    User deployer
Host lt-app3
    Hostname 142.93.114.107
    User deployer
Host lt-app4
    Hostname 64.227.1.124
    User deployer
Host lt-app5
    Hostname 134.209.79.221
    User deployer
Host lt-app6
    Hostname 134.209.79.94
    User deployer

