#!/usr/bin/env python3.7

import iterm2
# This script was created with the "basic" environment which does not support adding dependencies
# with pip.

async def main(connection):
    # Your code goes here. Here's a bit of example code that adds a tab to the current window:
    app = await iterm2.async_get_app(connection)
    async def get_profile_for_session(session_id):
        session = app.get_session_by_id(session_id)
        return await session.async_set_profile('Production')
    window = app.current_terminal_window
    domain = iterm2.broadcast.BroadcastDomain()
    if window is not None:
        current_tab = await window.async_create_tab()
        bkp1 = current_tab.current_session
        domain.add_session(bkp1)
        await bkp1.async_send_text("ssh bkp1\n", suppress_broadcast=True)
        bkp2 = await bkp1.async_split_pane(vertical=False)
        domain.add_session(bkp2)
        await bkp2.async_send_text("ssh bkp2\n", suppress_broadcast=True)
        await iterm2.async_set_broadcast_domains(connection, [domain])
    else:
        # You can view this message in the script console.
        print("No current window")

iterm2.run_until_complete(main)
